<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinhuan.photoview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.xinhuan.photoview.PhotoViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

    </application>

</manifest>